body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 35px 30px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

h1{
    margin-bottom:10px;
}

#display {
    font-size: 38px;
    margin: 20px 0;
}

.button-row {
    display: flex;
    justify-content:center;
    gap:15px;
    margin-bottom: 12px;
}

button {
    width: 120px;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.green { background-color: #28a745; }
.yellow { background-color: #ffc107; color: black; }
.blue { background-color: #17a2b8; }
.red { background-color: #dc3545; }

#laps {
    margin-top: 20px;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
}

#laps p {
    padding: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 5px 0;
}
